.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
frontend/bindings

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Build / output
build/bin
frontend/dist
logs

# Dependency / lock files
node_modules
bun.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pnpm-lock.yaml

# Caches
.cache
*/.vitepress/cache 
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/


# Finder (MacOS) folder config
.DS_Store

# Golang
go.sum