@use './global.scss';
// 1. 变量定义（颜色、字体、间距等）
$font-family-base:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$color-primary: #42b883;
$color-secondary: #35495e;
$color-text: #333;
$spacing-unit: 1rem;
// 2. 全局基础样式
html,
body {
  font-family: $font-family-base;
  font-size: 16px; // 1rem = 16px
  line-height: 1.5;
  color: $color-text;
  -webkit-font-smoothing: antialiased; // 让字体边缘更平滑，减少锯齿感。
  -moz-osx-font-smoothing: grayscale; // 使用灰度抗锯齿，而不是亚像素抗锯齿。
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: transparent;
}

#vue-app {
  width: 100%;
  height: 100%;
  background: transparent;
  // background: #fff;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

.err {
  color: red;
}
