@use './global.scss';

@font-face {
  /* 给你的字体起一个名字，这个名字将在后面的样式中使用 */
  font-family: 'SarasaMonoSC2';
  /* 指定字体文件的路径。请根据你的实际目录结构调整这个路径！ */
  /* 从 main.css 的位置出发，去寻找 assets 文件夹下的字体文件 */
  src: url('/fonts/SarasaMonoSC-Regular.ttf') format('truetype');
  /* 可选但推荐的属性 */
  font-weight: normal; /* 这个字体文件是常规字重 */
  font-style: normal; /* 这个字体文件是常规样式 */
  font-display: swap; /* 优化字体加载体验，先显示系统字体，再替换为自定义字体 */
  // font-display: block; //等待字体加载完毕之后再显示页面内容
}

// 1. 变量定义（颜色、字体、间距等）
$system-font-stack:
  'SarasaMonoSC2',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Roboto',
  'Helvetica Neue',
  'Noto Sans',
  'PingFang SC',
  'Microsoft YaHei',
  'WenQuanYi Micro Hei',
  sans-serif;

$color-primary: #8342b8;
$color-text: #333;
// 2. 全局基础样式
html,
body {
  font-family: $system-font-stack;
  font-size: 16px; // 1rem = 16px
  line-height: 1.5;
  color: $color-text;
  -webkit-font-smoothing: antialiased; // 让字体边缘更平滑，减少锯齿感。
  -moz-osx-font-smoothing: grayscale; // 使用灰度抗锯齿，而不是亚像素抗锯齿。
  margin: 0;
  padding: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#vue-app {
  width: 100%;
  height: 100%;
  /* 像素矫正，右侧和下侧会被吞掉1像素 */
  padding-right: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;
}

img {
  display: block;
  border: none;
}

/* 
预定的 CSS 类，用于特定功能
*/
.err {
  color: red;
}

.no-select {
  @include global.no-select;
}

.allow-select {
  @include global.allow-select;
}

.wails-drag {
  @include global.wails-drag;
}

.wails-no-drag {
  @include global.wails-no-drag;
}
